.title{
    text-align: center;
    color: teal;
    text-decoration: underline;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 500px;
}

.subtitle{
    color: orange;
}

.description{
    border: 5px dotted lightgreen;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
}